body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  text-transform: capitalize;
}

ul{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  list-style-type: none;
  grid-template-rows: 40px 1fr;
  align-items: center;
}
li {
  text-align: center;
}
.font-bold{
  font-weight: 600;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.in{
  background-color:green;
}
.out{
  background-color:red;
}